<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<!-- 配置自动扫描的包 -->
	<context:component-scan base-package="com.springmvc" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>

	<!-- 配置试图解析器 ： 如何把 handler 方法返回值解析为实际的物理视图 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!--
		<property name="prefix" value="/WEB-INF/helloviews/" />
		-->
		<property name="prefix" value="/WEB-INF/restfulviews/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 配置视图解析器 ： [  BeanNameViewResolver } 使用视图名来解析视图 -->
	<!-- 通过 order 定义视图解析器的优先级,  order 值越小优先级越高 -->
	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
		<property name="order" value="1" />
	</bean>

	<!-- 配置国际化资源文件 -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="i18n" />
	</bean>
	
	<!-- 配置 SessionLocalResolver -->
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver"></bean>
	
	<mvc:interceptors>
		<!-- 配置自定义拦截器 -->
		<bean class="com.springmvc.restful.interceptors.MyInterceptor" />
		<!-- 配置只作用于/employeeHandler/emps 请求的拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/employeeHandler/emps"/>
			<bean class="com.springmvc.restful.interceptors.EmpsInterceptor"></bean>
		</mvc:interceptor>
		<!-- 配置 LocaleChangeInterceptor -->
		<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" /> 
	</mvc:interceptors>

	<!-- 配置可直接转发的页面 -->
	<!-- 可以直接转发相应的页面, 无需经过 handler [ 视图解析器  ]  -->
	<mvc:view-controller path="/success" view-name="success"/>
	<mvc:view-controller path="/list" view-name="list"/>
	
	<!-- 处理静态资源 -->
	<mvc:default-servlet-handler/>
	
	<!-- 在实际开发中, 通常都需要配 mvc:annotation-driven 标签 -->
	<mvc:annotation-driven conversion-service="conversionService"/>
	
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<ref bean="employeeConverters"/>
			</set>
		</property>
	</bean>
	
	<!-- 配置自定义类型转换器 conversionService -->
	<!-- 若如下配置在 <mvc:annotation-driven> 中配置 conversion-service。会导致实体中注解形式的类型转换器失效
	<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<ref bean="employeeConverters"/>
			</set>
		</property>
	</bean>
	-->
	
	<!-- 配置 multipartResolver -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="maxUploadSize" value="1024000"></property>
	</bean>
	
	<!-- 配置 SimpleMappingExceptionResolver -->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionAttribute" value="ex"></property>
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.ArrayIndexOutOfBoundsException">error</prop>
			</props>
		</property>
	</bean>
	
</beans>
